.pd{position:relative;width:2503px;height:1050px;overflow:hidden;background:#0f1116;font-family:-apple-system,BlinkMacSystemFont,"SF Pro Text",system-ui,sans-serif;-webkit-font-smoothing:antialiased;border-radius:10px}
.pd > *{position:absolute;margin:0;box-sizing:border-box}
.pd__t{white-space:pre;line-height:1;display:flex;align-items:center}
.pd__img{object-fit:contain}
.pd-0{left:0px;top:0px;width:144px;height:1050px;background:#312d2d;border-radius:17px}
.pd-1{left:44px;top:72px;width:56px;height:56px;}
.pd-2{left:44px;top:152px;width:56px;height:56px;}
.pd-3{left:44px;top:232px;width:56px;height:56px;}
.pd-4{left:0px;top:306px;width:144px;height:68px;}
.pd-5{left:44px;top:392px;width:56px;height:56px;}
.pd-6{left:44px;top:472px;width:56px;height:56px;}
.pd-7{left:44px;top:552px;width:56px;height:56px;}
.pd-8{left:44px;top:632px;width:56px;height:56px;}
.pd-9{left:64px;top:990.5px;width:16.5px;height:13px;}
.pd-10{left:66px;top:1028px;width:12px;height:2.5px;}
.pd-11{left:156px;top:61px;width:47px;height:14px;background:#211e1e;border-radius:0px}
.pd-12{left:156px;top:61px;width:14px;height:14px;}
.pd-13{left:224px;top:58px;width:268px;height:20px;background:#302f2f;border-radius:3.5px}
.pd-14{left:224px;top:58px;width:67px;height:20px;background:#4a4949;border-radius:5px}
.pd-15{left:2276px;top:62.5px;width:9.5px;height:11.5px;}
.pd-16{left:2298px;top:61px;width:75px;height:14px;background:#211e1e;border-radius:0px}
.pd-17{left:2383px;top:58px;width:108px;height:20px;}
.pd-18{left:160px;top:92px;width:359px;height:24px;background:#2f2f2f;border-radius:5px}
.pd-19{left:160px;top:92px;width:120px;height:24px;background:#494949;border-radius:7px}
.pd-20{left:158px;top:135px;width:68px;height:16px;background:#2f2d2d;border-radius:0px}
.pd-21{left:393px;top:137px;width:18px;height:13px;}
.pd-22{left:418px;top:136px;width:12px;height:14px;}
.pd-23{left:463px;top:136px;width:94px;height:17px;background:#1e1e1e;border-radius:0px}
.pd-24{left:2445px;top:138px;width:11.5px;height:13.5px;}
.pd-25{left:2469px;top:139px;width:14.5px;height:12px;}
.pd-26{left:463px;top:156px;width:70px;height:14px;background:#1e1e1e;border-radius:0px}
.pd-27{left:549px;top:156px;width:29px;height:14px;background:#1e1e1e;border-radius:0px}
.pd-28{left:593px;top:156px;width:67px;height:14px;background:#1e1e1e;border-radius:0px}
.pd-29{left:157px;top:170px;width:10px;height:10px;}
.pd-30{left:174px;top:168px;width:258px;height:13px;background:#2f2d2d;border-radius:0px}
.pd-31{left:144px;top:188px;width:300px;height:862px;background:#2f2d2d;border-radius:0px}
.pd-32{left:144px;top:215px;width:283px;height:45px;}
.pd-33{left:144px;top:188px;width:283px;height:27px;background:#363333;border-radius:0px}
.pd-34{left:144px;top:395px;width:283px;height:27px;background:#363333;border-radius:0px}
.pd-35{left:1149px;top:118px;width:633px;height:24px;background:#1e1e1e;border-radius:0px}
.pd-36{left:1149px;top:155px;width:633px;height:46px;background:#1e1e1e;border-radius:22px}
.pd-37{left:1366px;top:180px;width:65px;height:20px;background:#1e222b;border-radius:5px}
.pd-38{left:1451px;top:235px;width:73px;height:20px;background:#1e222b;border-radius:5px}
.pd-39{left:1166px;top:346px;width:79px;height:17px;background:#171a21;border-radius:0px}
.pd-40{left:1166px;top:369px;width:70px;height:14px;background:#171a21;border-radius:0px}
.pd-41{left:1327px;top:346px;width:49px;height:17px;background:#171a21;border-radius:0px}
.pd-42{left:1327px;top:369px;width:84px;height:14px;background:#171a21;border-radius:0px}
.pd-43{left:1487px;top:337px;width:49px;height:17px;background:#171a21;border-radius:0px}
.pd-44{left:1487px;top:360px;width:70px;height:32px;background:#171a21;border-radius:0px}
.pd-45{left:1648px;top:337px;width:76px;height:17px;background:#171a21;border-radius:0px}
.pd-46{left:1648px;top:360px;width:85px;height:32px;background:#171a21;border-radius:0px}
.pd-47{left:1166px;top:435px;width:45px;height:17px;background:#171a21;border-radius:0px}
.pd-48{left:1166px;top:458px;width:116px;height:14px;background:#171a21;border-radius:0px}
.pd-49{left:1249px;top:520px;width:93px;height:16px;background:#171a21;border-radius:0px}
.pd-50{left:1249px;top:542px;width:159px;height:14px;background:#171a21;border-radius:0px}
.pd-51{left:1379px;top:685px;width:119px;height:19px;background:#1e222b;border-radius:7px}
.pd-52{left:1615px;top:841px;width:51px;height:19px;background:#1e222b;border-radius:7px}
.pd-53{left:1691px;top:841px;width:50px;height:19px;background:#1e222b;border-radius:7px}
.pd-54{left:1379px;top:900px;width:73px;height:19px;background:#1e222b;border-radius:7px}
.pd-55{left:1480px;top:900px;width:66px;height:19px;background:#1e222b;border-radius:7px}
.pd-56{left:1379px;top:685px;width:119px;height:19px;background:#1e222b;border-radius:7px}
.pd-57{left:1615px;top:841px;width:51px;height:19px;background:#1e222b;border-radius:7px}
.pd-58{left:1691px;top:841px;width:50px;height:19px;background:#1e222b;border-radius:7px}
.pd-59{left:1379px;top:900px;width:73px;height:19px;background:#1e222b;border-radius:7px}
.pd-60{left:1480px;top:900px;width:66px;height:19px;background:#1e222b;border-radius:7px}
.pd-61{left:0px;top:0px;width:2503px;height:52px;background:#171717;border-radius:17px}
.pd-62{left:942px;top:0px;width:764px;height:52px;background:#2c2c2c;border-radius:26px}
.pd-63{left:960px;top:19px;width:15px;height:14.5px;}
.pd-64{left:1048px;top:22px;width:4px;height:8px;}
.pd-65{left:148px;top:0px;width:149px;height:52px;background:#2c2c2c;border-radius:26px}
.pd-66{left:152px;top:8px;width:71px;height:36px;background:#404040;border-radius:18px}
.pd-67{left:307px;top:21.5px;width:10px;height:10px;}
.pd-68{left:338px;top:21px;width:10px;height:11px;}
.pd-69{left:2382px;top:0px;width:40px;height:52px;background:#2c2c2c;border-radius:20px}
.pd-70{left:2382.5px;top:8px;width:39.5px;height:36px;}
.pd-71{left:2422px;top:0px;width:36px;height:52px;background:#2c2c2c;border-radius:18px}
.pd-72{left:2422px;top:8px;width:36px;height:36px;}
.pd-73{left:2458px;top:0px;width:41px;height:44px;}
.pd-74{left:18px;top:18px;width:16px;height:16px;background:#2e2a2a;border-radius:0px}
.pd-75{left:64px;top:18px;width:16px;height:16px;background:#2e2a2a;border-radius:0px}
.pd-76{left:41px;top:18px;width:16px;height:16px;background:#2d2b2a;border-radius:0px}
.pd-77{left:175px;top:20.5px;width:25.5px;height:12px;color:#737373;}
.pd-78{left:233px;top:20.5px;width:49px;height:12.5px;color:#5e5e5e;}
.pd-79{left:389px;top:10px;width:87px;height:23.5px;color:#dcdcdc;background:#171717;border-radius:3px;justify-content:center;}
.pd-80{left:977.5px;top:18.5px;width:211.5px;height:17.5px;color:#dedede;background:#2c2c2c;border-radius:3px;justify-content:center;}
.pd-81{left:1665px;top:20px;width:30px;height:14px;color:#a0a0a0;background:#2c2c2c;border-radius:3px;justify-content:center;}
.pd-82{left:389.5px;top:28px;width:47px;height:13.5px;color:#969696;background:#171717;border-radius:3px;justify-content:center;}
.pd-83{left:167px;top:64px;width:36.5px;height:10.5px;color:#dcdcdc;}
.pd-84{left:246px;top:64px;width:21.5px;height:10px;color:#e3e3e3;}
.pd-85{left:300px;top:64px;width:48px;height:11.5px;color:#dedede;}
.pd-86{left:382.5px;top:63px;width:17.5px;height:11px;color:#dedede;}
.pd-87{left:439.5px;top:62.5px;width:38px;height:14px;color:#dedede;background:#302f2f;border-radius:3px;justify-content:center;}
.pd-88{left:2313.5px;top:62px;width:61px;height:13.5px;color:#999999;background:#211e1e;border-radius:3px;justify-content:center;}
.pd-89{left:191.5px;top:98.5px;width:58px;height:12.5px;color:#e3e3e3;}
.pd-90{left:290.5px;top:98.5px;width:97px;height:16px;color:#dedede;}
.pd-91{left:417px;top:98.5px;width:83.5px;height:13px;color:#dedede;background:#2f2f2f;border-radius:3px;justify-content:center;}
.pd-92{left:157.5px;top:138.5px;width:68px;height:11px;color:#dfdfdf;}
.pd-93{left:366.5px;top:136.5px;width:19.5px;height:13px;color:#626161;background:#2f2d2d;border-radius:3px;justify-content:center;}
.pd-94{left:460px;top:137.5px;width:99.5px;height:16px;color:#dddddd;background:#1e1e1e;border-radius:3px;justify-content:center;}
.pd-95{left:460px;top:156.5px;width:202.5px;height:15.5px;color:#999999;background:#1e1e1e;border-radius:3px;justify-content:center;}
.pd-96{left:173px;top:170px;width:82.5px;height:11px;color:#a1a0a0;}
.pd-97{left:1146.5px;top:183.5px;width:217.5px;height:16.5px;color:#e7e9ec;background:#0f1116;border-radius:3px;justify-content:center;}
.pd-98{left:1361.5px;top:184px;width:64.5px;height:15.5px;color:#e7eaed;background:#1e222b;border-radius:3px;justify-content:center;}
.pd-99{left:1426px;top:184px;width:11px;height:15.5px;color:#e6e9ec;background:#0f1116;border-radius:3px;justify-content:center;}
.pd-100{left:157.5px;top:197.5px;width:67px;height:9px;color:#a4a3a3;}
.pd-101{left:1149px;top:215.5px;width:628.5px;height:17.5px;color:#e6e9ec;}
.pd-102{left:1148.5px;top:237px;width:299px;height:17.5px;color:#e7e9ec;}
.pd-103{left:1447.5px;top:237px;width:76px;height:18.5px;color:#e7eaed;background:#1e222b;border-radius:3px;justify-content:center;}
.pd-104{left:1524px;top:238px;width:230.5px;height:16.5px;color:#e6e9ec;}
.pd-105{left:180px;top:269.5px;width:119px;height:13.5px;color:#dedede;}
.pd-106{left:400px;top:270.5px;width:12px;height:9px;color:#626161;}
.pd-107{left:181px;top:287px;width:48px;height:11.5px;color:#0091ff;background:#303d4f;border-radius:3px;justify-content:center;}
.pd-108{left:231px;top:287px;width:177px;height:11px;color:#a1a0a0;}
.pd-109{left:1148.5px;top:285px;width:42px;height:12.5px;color:#5f6975;}
.pd-110{left:180px;top:314.5px;width:81.5px;height:11px;color:#dedede;}
.pd-111{left:400px;top:315.5px;width:12px;height:9px;color:#626161;}
.pd-112{left:180px;top:332.5px;width:182px;height:11.5px;color:#a1a0a0;}
.pd-113{left:1487px;top:341.5px;width:50px;height:13px;color:#e7eaed;}
.pd-114{left:1646.5px;top:342px;width:77.5px;height:11px;color:#e7eaed;}
.pd-115{left:1165.5px;top:349px;width:80.5px;height:14.5px;color:#e7eaed;}
.pd-116{left:1326px;top:349px;width:51px;height:13.5px;color:#e7eaed;}
.pd-117{left:180px;top:360px;width:92.5px;height:12px;color:#dedede;}
.pd-118{left:400px;top:361px;width:12px;height:9px;color:#626161;}
.pd-119{left:1487px;top:363px;width:70.5px;height:12.5px;color:#9aa2b2;}
.pd-120{left:1646.5px;top:364px;width:87.5px;height:10.5px;color:#9aa2b2;}
.pd-121{left:1769px;top:359px;width:13px;height:12px;color:#5f6975;}
.pd-122{left:207.5px;top:377.5px;width:199.5px;height:11px;color:#a1a0a0;}
.pd-123{left:1163.5px;top:370px;width:58px;height:15.5px;color:#9aa2b2;}
.pd-124{left:182px;top:377.5px;width:20.5px;height:10px;color:#a9a8a8;background:#423f3f;border-radius:3px;justify-content:center;}
.pd-125{left:1223px;top:370px;width:15px;height:15.5px;color:#9aa2b2;}
.pd-126{left:1326px;top:370px;width:87px;height:15.5px;color:#9aa2b2;}
.pd-127{left:1486.5px;top:382.5px;width:35px;height:9.5px;color:#9aa2b2;}
.pd-128{left:1646.5px;top:381.5px;width:38.5px;height:9.5px;color:#9aa2b2;}
.pd-129{left:220.5px;top:405px;width:14.5px;height:9px;color:#676565;}
.pd-130{left:169px;top:405px;width:50.5px;height:9px;color:#a4a3a3;}
.pd-131{left:181px;top:431.5px;width:172px;height:13px;color:#dedede;}
.pd-132{left:398px;top:432.5px;width:15.5px;height:9px;color:#626161;}
.pd-133{left:1164.5px;top:438.5px;width:48px;height:15.5px;color:#e7eaed;}
.pd-134{left:182px;top:448.5px;width:47px;height:11.5px;color:#0091ff;background:#303d4f;border-radius:3px;justify-content:center;}
.pd-135{left:225.5px;top:447.5px;width:97px;height:13.5px;color:#a1a0a0;}
.pd-136{left:1164.5px;top:460px;width:119px;height:13px;color:#9aa2b2;}
.pd-137{left:180px;top:476px;width:104px;height:13px;color:#dedede;}
.pd-138{left:398px;top:478px;width:15.5px;height:8px;color:#626161;}
.pd-139{left:182px;top:491.5px;width:27.5px;height:15px;color:#a9a8a8;background:#423f3f;border-radius:3px;justify-content:center;}
.pd-140{left:209px;top:492.5px;width:129px;height:13px;color:#a1a0a0;}
.pd-141{left:180px;top:522px;width:83.5px;height:12px;color:#dedede;}
.pd-142{left:398px;top:523px;width:16.5px;height:9px;color:#626161;}
.pd-143{left:1248px;top:523px;width:95.5px;height:14px;color:#e7eaed;}
.pd-144{left:1148.5px;top:532px;width:75.5px;height:13.5px;color:#5d6773;}
.pd-145{left:182px;top:538px;width:60px;height:13.5px;color:#a9a8a8;background:#423f3f;border-radius:3px;justify-content:center;}
.pd-146{left:241.5px;top:539px;width:164.5px;height:11.5px;color:#a1a0a0;}
.pd-147{left:1249px;top:544px;width:160.5px;height:14.5px;color:#9aa2b2;}
.pd-148{left:349px;top:566.5px;width:9.5px;height:13.5px;color:#ff9231;}
.pd-149{left:397px;top:567.5px;width:16.5px;height:9px;color:#626161;}
.pd-150{left:180px;top:566.5px;width:167px;height:13.5px;color:#dedede;}
.pd-151{left:180px;top:584px;width:41.5px;height:11.5px;color:#a1a0a0;}
.pd-152{left:1148.5px;top:602.5px;width:69px;height:12px;color:#5f6975;}
.pd-153{left:180px;top:611.5px;width:98.5px;height:11px;color:#dedede;}
.pd-154{left:398px;top:612.5px;width:15.5px;height:9px;color:#626161;}
.pd-155{left:181px;top:628.5px;width:48px;height:11.5px;color:#0091ff;background:#303d4f;border-radius:3px;justify-content:center;}
.pd-156{left:226px;top:627.5px;width:183.5px;height:13.5px;color:#a1a0a0;}
.pd-157{left:398px;top:657.5px;width:15.5px;height:10px;color:#626161;}
.pd-158{left:1148.5px;top:651.5px;width:85px;height:13px;color:#5f6975;}
.pd-159{left:1378px;top:651px;width:44px;height:13.5px;color:#5f6975;}
.pd-160{left:180px;top:656px;width:88px;height:14px;color:#dedede;}
.pd-161{left:180px;top:674.5px;width:228px;height:11.5px;color:#a1a0a0;}
.pd-162{left:1148.5px;top:686.5px;width:31.5px;height:12.5px;color:#4c8dfe;}
.pd-163{left:1204.5px;top:687px;width:155.5px;height:12px;color:#e7eaed;}
.pd-164{left:1385px;top:688px;width:110px;height:11px;color:#e7eaed;}
.pd-165{left:1494.5px;top:687px;width:63px;height:13px;color:#9aa2b2;background:#0f1116;border-radius:3px;justify-content:center;}
.pd-166{left:1557px;top:688px;width:213px;height:11px;color:#e7e9ec;}
.pd-167{left:180px;top:701.5px;width:128px;height:12.5px;color:#dedede;}
.pd-168{left:398px;top:702.5px;width:15.5px;height:9px;color:#626161;}
.pd-169{left:1379px;top:708.5px;width:136px;height:16.5px;color:#e7e9ec;}
.pd-170{left:1515px;top:707.5px;width:176px;height:18.5px;color:#9aa2b2;background:#0f1116;border-radius:3px;justify-content:center;}
.pd-171{left:182px;top:718px;width:24.5px;height:13px;color:#a9a8a8;background:#423f3f;border-radius:3px;justify-content:center;}
.pd-172{left:206px;top:719px;width:202px;height:11px;color:#a1a0a0;}
.pd-173{left:180px;top:746.5px;width:146.5px;height:13px;color:#dedede;}
.pd-174{left:398px;top:747.5px;width:15.5px;height:9px;color:#626161;}
.pd-175{left:1148.5px;top:745.5px;width:31.5px;height:13px;color:#4c8dfe;}
.pd-176{left:1202px;top:746.5px;width:162.5px;height:17.5px;color:#e7eaed;}
.pd-177{left:1377px;top:748px;width:384.5px;height:14.5px;color:#9aa2b2;}
.pd-178{left:182px;top:762.5px;width:26px;height:13px;color:#a9a8a8;background:#423f3f;border-radius:3px;justify-content:center;}
.pd-179{left:207.5px;top:763.5px;width:196.5px;height:11px;color:#a1a0a0;}
.pd-180{left:1379px;top:767px;width:112px;height:16px;color:#9aa2b2;}
.pd-181{left:181px;top:791px;width:170px;height:13px;color:#dedede;}
.pd-182{left:397px;top:792px;width:16.5px;height:9px;color:#626161;}
.pd-183{left:180px;top:809px;width:41px;height:10px;color:#a1a0a0;}
.pd-184{left:1147px;top:804px;width:33px;height:13px;color:#3fb950;}
.pd-185{left:1203px;top:805.5px;width:82.5px;height:15.5px;color:#5f6975;}
.pd-186{left:1377px;top:805px;width:243px;height:16.5px;color:#9aa2b2;}
.pd-187{left:180px;top:835.5px;width:135.5px;height:14px;color:#dedede;}
.pd-188{left:398px;top:836.5px;width:15.5px;height:10px;color:#626161;}
.pd-189{left:1148.5px;top:842px;width:31.5px;height:12px;color:#3fb950;}
.pd-190{left:1204.5px;top:843px;width:408.5px;height:15px;color:#9aa2b2;}
.pd-191{left:1612.5px;top:842px;width:49px;height:17px;color:#e7e9ec;background:#1e222b;border-radius:3px;justify-content:center;}
.pd-192{left:1661.5px;top:843px;width:29px;height:15px;color:#9aa2b2;}
.pd-193{left:1694.5px;top:841.5px;width:44px;height:16px;color:#e7eaed;background:#1e222b;border-radius:3px;justify-content:center;}
.pd-194{left:1742.5px;top:847px;width:19.5px;height:9px;color:#9aa2b2;}
.pd-195{left:181px;top:853px;width:53.5px;height:13px;color:#0091ff;background:#303d4f;border-radius:3px;justify-content:center;}
.pd-196{left:234px;top:854px;width:169px;height:11px;color:#a1a0a0;}
.pd-197{left:1378px;top:866px;width:22.5px;height:12px;color:#9aa2b2;}
.pd-198{left:180px;top:881.5px;width:99.5px;height:12px;color:#dedede;}
.pd-199{left:398px;top:881.5px;width:16.5px;height:10px;color:#626161;}
.pd-200{left:180px;top:897.5px;width:227px;height:13px;color:#a1a0a0;}
.pd-201{left:1148.5px;top:900.5px;width:31.5px;height:13px;color:#3fb950;}
.pd-202{left:1203.5px;top:901.5px;width:93.5px;height:13.5px;color:#5f6975;}
.pd-203{left:1384px;top:901.5px;width:65px;height:14.5px;color:#e7eaed;}
.pd-204{left:1449px;top:900.5px;width:33px;height:16.5px;color:#9aa2b2;background:#0f1116;border-radius:3px;justify-content:center;}
.pd-205{left:1482px;top:901.5px;width:59px;height:14.5px;color:#e7eaed;}
.pd-206{left:180px;top:926px;width:81.5px;height:12.5px;color:#dedede;}
.pd-207{left:398px;top:927px;width:15.5px;height:9px;color:#626161;}
.pd-208{left:180px;top:943.5px;width:227px;height:11px;color:#a1a0a0;}
.pd-209{left:180px;top:969px;width:119.5px;height:16px;color:#dedede;}
.pd-210{left:398px;top:972px;width:16.5px;height:9px;color:#626161;}
.pd-211{left:180px;top:988px;width:41px;height:11.5px;color:#a1a0a0;}
.pd-212{left:180px;top:1015.5px;width:137.5px;height:13px;color:#dedede;}
.pd-213{left:398px;top:1016.5px;width:15.5px;height:9px;color:#626161;}
.pd-214{left:180px;top:1032.5px;width:223px;height:11.5px;color:#a1a0a0;}
