<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-07-12T14:27:27Z</date>
	<key>WorkspacePath</key>
	<string>/tmp/claude-501/-Users-omar-doucoure-Documents-OmApps-stickPrep/4e00cbee-63b4-4161-b1cb-9b4beeff18c9/scratchpad/ds-clone</string>
</dict>
</plist>
